section{
margin-top:10%;
    padding:5px;
    background-image:linear-gradient(to right,#2aabff,#c415ff);
    border-radius:20px;
    height:70%;
    border-top:solid black 6px;
border-right:solid black 6px;
border-left:solid black 3px;
border-bottom:solid black 3px;
}

#div1{
    margin-top:15%;
    margin-left:5%;
    width:87%;
    height:10%;
    border-radius:15px;
    border:solid black 2px;
    text-align:right;
    font-size:55px;
    background: gray;
    padding:5px;
    border:solid black 2px;
    overflow:hidden;
    border-left:solid black 6px;
border-bottom:solid black 6px;
border-right:solid black 6px;
}

#div2{
    margin-left:8%;
    margin-top:10%;
    
    width:85%;
       
}

.but{ 
    width:21%;
    height:11%;
    margin:1.5%;
    border-radius:15%;
    border:0;
    font-size:50px;
    font-weight:bold;
    
    color:black;
    background:white;
    border:solid black 1px;
    border-top:solid black 3px;
border-right:solid black 3px;
}


#img{
    height:90%;
    width:2%;
    
    position: relative;
  animation-name: cr;
  animation-duration: .5s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}

@keyframes cr {
  
  0%{opacity:0}
  
  50%{opacity:1}
  
  100%{opacity:0}
}
